<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://code.alibabatech.com/schema/dubbo
       http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <!-- 提供方应用信息，用于计算依赖关系 -->
    <dubbo:application name="facade-provider" />
    <!-- 使用zookeeper注册中心暴露服务地址 -->
    <dubbo:registry address="zookeeper://dubbo.lixuefei.com:2181" />
    <!-- 用dubbo协议在20880端口暴露服务 -->
    <dubbo:protocol name="dubbo" port="20080" />

    <dubbo:reference id="mailbotService" check="false" interface="name.lsg.mailbot.service.MailbotService"/>
    <dubbo:reference id="ruleService" check="false" interface="name.lsg.rule.service.RuleService"/>
    <dubbo:reference id="chatbotService" check="false" interface="name.lsg.chatbot.service.ChatbotService"/>

    <bean id="facadeService" class="facade.FacadeServiceImpl" >
        <property name="mailbotService">
            <ref bean="mailbotService" />
        </property>
        <!--property name="ruleService">
            <ref bean="ruleService" />
        </property>
        <property name="chatbotService">
            <ref bean="chatbotService" />
        </property-->
    </bean>

    <dubbo:service interface="name.lsg.facade.service.FacadeService" ref="facadeService" />




</beans>